<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd  
                        http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd 
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd 
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop.xsd 
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd">
                        
    <!-- 配置扫描spring注解时扫描的包，同时也开启了spring注解支持 -->
    <context:component-scan base-package="com.ygy.shiro" />

    <!-- 开启springMVC相关注解支持 -->
    <mvc:annotation-driven />
    
    <!-- 开启spring aop 注解支持 -->
    <aop:aspectj-autoproxy/>
    


    <!-- 文件上传解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="resolveLazily" value="true" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
    
    <!--swagger的配置静态资源访问 -->
	<mvc:resources location="classpath:/META-INF/resources/"
		mapping="swagger-ui.html" />
	<mvc:resources location="classpath:/META-INF/resources/webjars/"
		mapping="/webjars/**" />
	<mvc:resources
		location="classpath:/META-INF/resources/webjars/springfox-swagger-ui/images"
		mapping="/images/**" />

 	<!-- 拦截器 -->
	<mvc:interceptors>
		<!--拦截所有请求 -->
		<!-- <bean class="拦截器全名" /> -->
		<!-- 文件上传  拦截认证-->
		<mvc:interceptor>
		    <!-- 文件上传拦截路径 -->
			<mvc:mapping path="/**" />
			<bean class="com.ygy.shiro.interceptor.FileInterceptor">
				<!-- 允许上传文件类型列表 -->
				<property name="fileSuffixList" value="jpg,png"/>
				<!-- 允许文件的最大大小 单位为B  1M=1048576 现2M-->
				<property name="maxSize" value="2097152"/>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 配置Fastjson支持 -->
	<bean id="mappingFastJsonHttpMessageConverter"
		class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/json;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
</beans>