<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	
    <!-- 自定义Realm实现 -->
    <bean id="userRealm" class="com.ygy.shiro.realm.UserAuthRealm">
        <property name="cachingEnabled" value="false"/>
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"></property> 
                <property name="hashIterations" value="1"></property>
            </bean>
        </property>
        <property name="userService" ref="userService"/>
    </bean>

    <!-- 会话ID生成器 -->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>
	<!-- 会话Cookie模板  maxAge=-1表示浏览器关闭时失效此Cookie-->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg name="name" value="ygy.session.id"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="-1"/>
        <property name="domain" value=""/>
        <property name="path" value="/"/>
    </bean>
    <!-- 会话DAO -->
    <bean id="sessionDAO" class="com.ygy.shiro.realm.RedisSessionDao">
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
        <!-- <property name="redisClient" ref="redisClient"/> -->
    </bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="com.ygy.shiro.realm.SessionManager">
    	<!-- 设置全局回话超时时间，默认 1800000-->
        <property name="globalSessionTimeout" value="1800000"/>
        <!-- 回话过期后是否调用SessionDao中的delete方法删除会话，默认为true -->
        <property name="deleteInvalidSessions" value="true"/>
        <!-- 是否开启会话验证器任务 默认true -->
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionDAO" ref="sessionDAO"/>
        <property name="sessionIdCookieEnabled" value="true"/>
        <property name="sessionIdCookie" ref="sessionIdCookie"/>
    </bean>

    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>

    <!-- 基于Form表单的身份验证过滤器 -->
    <bean id="formAuthenticationFilter" class="com.ygy.shiro.filter.AuthcFormAuthenticationFilter"/>

    <bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
        <property name="redirectUrl" value="/login" />
    </bean>

    <!-- Shiro的Web过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <!-- 自定义filter -->
        <property name="filters">
            <util:map>
            <!-- 自定义权限处理,如果不自定义，被权限拦截时会自动重定向到loginUrl配置，json交互式需要注意 -->
                <entry key="authc" value-ref="formAuthenticationFilter"/>
                <entry key="logout" value-ref="logoutFilter"/>
            </util:map>
        </property>
        <!-- anon:允许匿名访问，authc需要认证 -->
        <property name="filterChainDefinitions">
            <value>
            	/login = authc
            	
            	/swagger-ui.html=anon
            	/swagger-resources/**=anon
            	/swagger/**=anon
            	/webjars/**=anon
            	/v2/**=anon
            	/configuration/**=anon
                /favicon.ico = anon
                
                /static/** = anon
                /logout = logout
                /** = authc
            </value>
        </property>
    </bean>

    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>